.vscode/*
.env
*/__pycache__/*
scripts/experiments/*
raw_datasets/*
!raw_datasets/.keep
!utils/.keep
checkpoints/*
!checkpoints/.keep
!modules/.keep
!scripts/.keep
artifacts/*
!artifacts/.keep
!notebooks/.keep
scripts/wandb
*/wandb/*
bleurt/*
notebooks/stonefish_7b/*
!wandb/.keep
lightning_logs/*
!lightning_logs/.keep
notebooks/experiments/*
experiments/*
models/*
evaluation/ONLINE_TARGETS/*
evaluation/METRICS.json
evaluation/S2T_METRICS.json
evaluation/METRICS_dedupe.json
evaluation/ASR_RESULTS/

*/.ipynb_checkpoints/*
.ipynb_checkpoints/*

*.p
*tar.gz
*.dat
*.npy
*.mat
!requirements.txt
images/*

simuleval_link
!*.csv
!*.tsv

*.pt
